services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5422:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./internal/db/postgres/tables.sql:/docker-entrypoint-initdb.d/tables.sql
    networks:
      - postgres_network

volumes:
  postgres_data:

networks:
  postgres_network:
    driver: bridge