definitions:
  admin.AddNewFoodRequest:
    properties:
      food:
        type: string
    type: object
  admin.AddNewUserRequest:
    properties:
      password:
        type: string
      role:
        type: string
      username:
        type: string
    type: object
  admin.AddNewUserResponse:
    properties:
      ID:
        type: integer
    type: object
  admin.ErrorResponse:
    properties:
      error:
        example: error message
        type: string
    type: object
  admin.GetFoodsResponse:
    properties:
      foods:
        items:
          $ref: '#/definitions/models.Food'
        type: array
    type: object
  admin.GetUsersResponse:
    properties:
      users:
        items:
          $ref: '#/definitions/models.User'
        type: array
    type: object
  admin.MessageResponse:
    properties:
      message:
        example: message
        type: string
    type: object
  admin.ReserveFoodResponse:
    properties:
      results:
        items:
          $ref: '#/definitions/services.UserReserveResult'
        type: array
    type: object
  auth.ErrorResponse:
    properties:
      error:
        example: error message
        type: string
    type: object
  auth.LoginRequest:
    properties:
      password:
        example: your password
        type: string
      username:
        example: your username
        type: string
    required:
    - password
    - username
    type: object
  auth.LoginResponse:
    properties:
      token:
        example: generated token
        type: string
    type: object
  auth.SignUpRequest:
    properties:
      password:
        example: your password
        type: string
      username:
        example: your username
        type: string
    required:
    - password
    - username
    type: object
  auth.SignUpResponse:
    properties:
      message:
        example: User registered successfully
        type: string
      token:
        example: generated token
        type: string
    type: object
  food.ErrorResponse:
    properties:
      error:
        example: error message
        type: string
    type: object
  food.GetFoodsResponse:
    properties:
      foods:
        items:
          $ref: '#/definitions/models.Food'
        type: array
    type: object
  food.RateFoodsRequest:
    properties:
      foods:
        additionalProperties:
          type: integer
        example:
          foodName1: 93
          foodName2: 74
          foodName3: 80
        type: object
    required:
    - foods
    type: object
  food.RateFoodsResponse:
    properties:
      message:
        type: string
    type: object
  models.Food:
    properties:
      id:
        type: integer
      name:
        type: string
    type: object
  models.User:
    properties:
      auto_save:
        type: boolean
      id:
        type: integer
      role:
        $ref: '#/definitions/models.UserRole'
      token:
        type: string
      username:
        type: string
    type: object
  models.UserRole:
    enum:
    - user
    - admin
    type: string
    x-enum-varnames:
    - RoleUser
    - RoleAdmin
  reservations.Meal:
    enum:
    - 1
    - 2
    - 3
    format: int32
    type: integer
    x-enum-varnames:
    - Lunch
    - Dinner
    - Breakfast
  reservations.Weekday:
    enum:
    - 1
    - 2
    - 3
    - 4
    - 5
    - 6
    - 7
    format: int32
    type: integer
    x-enum-varnames:
    - Sunday
    - Monday
    - Tuesday
    - Wednesday
    - Thursday
    - Friday
    - Saturday
  services.DayResult:
    properties:
      day:
        $ref: '#/definitions/reservations.Weekday'
      meals:
        items:
          $ref: '#/definitions/services.MealResult'
        type: array
    type: object
  services.MealResult:
    properties:
      meal:
        $ref: '#/definitions/reservations.Meal'
      message:
        type: string
      ok:
        type: boolean
    type: object
  services.UserReserveResult:
    properties:
      days:
        items:
          $ref: '#/definitions/services.DayResult'
        type: array
      error:
        type: string
      user_id:
        type: integer
      username:
        type: string
    type: object
  user.AutoSaveRequest:
    properties:
      autosave:
        type: boolean
    required:
    - autosave
    type: object
  user.AutoSaveResponse:
    properties:
      message:
        type: string
    type: object
  user.ErrorResponse:
    properties:
      error:
        example: error message
        type: string
    type: object
  user.RatesResponse:
    properties:
      rates:
        additionalProperties:
          type: integer
        example:
          foodName1: 93
          foodName2: 74
          foodName3: 80
        type: object
    type: object
info:
  contact:
    name: FoodPilot Dev Team
    url: https://github.com/arya237/foodPilot
  description: Auto food reserve
  termsOfService: http://swagger.io/terms/
  title: FoodPilot
paths:
  /admin/food:
    get:
      description: Return all the foods
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/admin.GetFoodsResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/admin.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Get food
      tags:
      - Admin
    post:
      consumes:
      - application/json
      description: Register new food
      parameters:
      - description: Food info
        in: body
        name: newFood
        required: true
        schema:
          $ref: '#/definitions/admin.AddNewFoodRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/admin.MessageResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/admin.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/admin.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Add new food
      tags:
      - Admin
  /admin/food/{foodID}:
    delete:
      description: Delete food
      parameters:
      - description: Food ID
        in: path
        name: foodID
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/admin.MessageResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/admin.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/admin.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Delete food
      tags:
      - Admin
  /admin/reserve:
    post:
      description: Reserve food for all users
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/admin.ReserveFoodResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/admin.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Reserve food
      tags:
      - Admin
  /admin/user:
    get:
      description: Return all the users
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/admin.GetUsersResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/admin.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Get users
      tags:
      - Admin
    post:
      consumes:
      - application/json
      description: Register new user
      parameters:
      - description: User info
        in: body
        name: newUser
        required: true
        schema:
          $ref: '#/definitions/admin.AddNewUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/admin.AddNewUserResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/admin.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/admin.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Add new user
      tags:
      - Admin
  /admin/user/{userID}:
    delete:
      description: Delete user
      parameters:
      - description: User ID
        in: path
        name: userID
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/admin.MessageResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/admin.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/admin.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Delete user
      tags:
      - Admin
  /auth/login:
    post:
      consumes:
      - application/json
      description: Login a user to app and generate code for it
      parameters:
      - description: Login info
        in: body
        name: login
        required: true
        schema:
          $ref: '#/definitions/auth.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/auth.LoginResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
      summary: login a user
      tags:
      - Auth
  /auth/signup:
    post:
      consumes:
      - application/json
      description: Register a new user and generate token for it
      parameters:
      - description: Signup info
        in: body
        name: signup
        required: true
        schema:
          $ref: '#/definitions/auth.SignUpRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/auth.SignUpResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/auth.ErrorResponse'
      summary: signup a new user
      tags:
      - Auth
  /food/list:
    get:
      description: Return all the foods
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/food.GetFoodsResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/food.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Get foods
      tags:
      - Food
  /food/rate:
    post:
      consumes:
      - application/json
      description: Rates all the foods
      parameters:
      - description: Rates info
        in: body
        name: rates
        required: true
        schema:
          $ref: '#/definitions/food.RateFoodsRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/food.RateFoodsResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/food.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/food.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Rates foods
      tags:
      - Food
  /user/autosave:
    post:
      consumes:
      - application/json
      description: Toggle user autosave attribute
      parameters:
      - description: Toggle info
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/user.AutoSaveRequest'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/user.AutoSaveResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/user.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/user.ErrorResponse'
      security:
      - BearerAuth: []
      summary: Toggle user autosave
      tags:
      - User
  /user/rates:
    get:
      description: return user rates
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/user.RatesResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/user.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/user.ErrorResponse'
      security:
      - BearerAuth: []
      summary: return user rates
      tags:
      - User
securityDefinitions:
  BearerAuth:
    description: 'Type `Bearer ` followed by your JWT token. example: "Bearer abcde12345"'
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
